name: Python CI

on:
  push:
    branches: [ main ]
    paths:
      - 'campaigns/**'
      - '.github/workflows/python-ci.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'campaigns/**'
      - '.github/workflows/python-ci.yml'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        for reqs in $(find campaigns -name "requirements.txt"); do
          pip install -r $reqs
        done
    - name: Test with pytest
      run: |
        find campaigns -name "Makefile" -print0 | while IFS= read -r -d $'\0' makefile; do
          (cd "$(dirname "$makefile")" && make test)
        done
