name: Server CI

on:
  push:
    branches: [ "main" ]
    paths:
      - 'server/**'
      - '.github/workflows/server-ci.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'server/**'
      - '.github/workflows/server-ci.yml'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: server/package-lock.json
    - name: Install dependencies
      run: cd server && npm install
    - name: Lint
      run: cd server && npm run lint
    - name: Test
      run: cd server && npm test
